.SortVisualizer {
  width: auto;
  padding: 0.5rem;
  margin: 1rem 1rem;
 background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #764BA2, #667EEA);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #764BA2, #667EEA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  transition: 0.5s ease-in-out;
}

.SortVisualizer__ProgressBar {
  overflow: clip;
  margin: 0.5rem;
}
